.postbox .regular-text {
    width: 100%;
}

.webui__admin-images {
    display: flex;
    flex-flow: row wrap;
    margin-top: 1rem;

    & .thumbnail {
        flex: 0 0 auto;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        border: 1px solid #eee;
        padding: 0.25rem;
        width: 10rem;
        height: 10rem;
        object-fit: cover;
    }
}

.webui__admin-title {
    margin: 0 !important;
    font-size: 1rem !important;
    font-weight: normal !important;
    height: 3rem !important;
    line-height: 1.3 !important;
    resize: none;
}

div[id$='excerpteditor'] {
    & .inside {
        margin: 0 !important;
        padding: 0 !important;
    }

    & .wp-editor-container {
        border: none !important;
    }
}
