<div class="offcanvas offcanvas-{{data.size}}" id="webui-sidebar-{{data.id}}" tabindex="-1">
    <div class="offcanvas-header border-bottom">
        <h3 class="offcanvas-title m-0">{{data.title}}</h3>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="close"></button>
    </div>
    <div class="offcanvas-body">{{{data.content}}}</div>
    <% if (data.button) { %>
    <div class="offcanvas-header border-top">
        <% _.each(data.button, function(button, key) { %>
            <button type="button" data-action="{{button.action}}" value="{{key}}" class="{{button.css}}">{{button.title}}</button>
        <% } ) %>
    </div>
    <% } %>
</div>
<% if (data.backdrop) { %>
    <div id="webui-sidebar-{{data.id}}-backdrop" class="offcanvas-backdrop fade"></div>
<% } %>
