{% include header.html %}
{% assign banner = page.slug | default:'banner' %}
<div class="site-page__banner attachment-fixed" style="background-image: url(assets/images/{{banner}}.jpg)">
    <div class="container text-center bg-light rounded shadow-sm">
        <div class="display-6 mt-3">WEBUI 前端框架定制开发服务</div>
        <p class="lead mt-3">CUSTOM DEVELOPMENT SERVICES</p>
        <a href="https://www.wpzhiku.com/contact"
           class="btn btn-outline-primary btn-lg mt-4"
           rel="noopener nofollow"><i class="wpion-comments2 mr-2"> </i>服务咨询</a>

    </div>
</div>

{{ content }}
{% include entry-footer.html %}
{% include footer.html %}
